LLM_PROVIDER=gemini # gemini | groq_llama3 | local_llama3 | local_qwen

# API Keys
GOOGLE_API_KEY=your_google_api_key_here
GROQ_API_KEY=your_groq_api_key_here

# Optional: Override paths
# INDEX_PATH=data/index/katekese_faiss_local

# Supabase
SUPABASE_URL=your_supabase_url_here
SUPABASE_SERVICE_KEY=your_supabase_service_key_here

# Dagshub / MLflow
MLFLOW_TRACKING_URI=your_dagshub_mlflow_uri_here
MLFLOW_TRACKING_USERNAME=your_dagshub_username_here
MLFLOW_TRACKING_PASSWORD=your_dagshub_password_here
