# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
*_venv/
ENV/
env311/
bin/micromamba
micromamba.tar.bz2

# Environment Variables
.env

# Data
data/raw/
data/processed/
data/index/
# data/final/ is now managed by Git LFS for large files

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Notebooks
.ipynb_checkpoints/

# OS
Thumbs.db
Desktop.ini
.DS_Store
