requests
beautifulsoup4
pandas
openpyxl
python-dotenv
langchain-core
langchain-google-genai
pdfplumber
langchain-text-splitters
pydantic
matplotlib
seaborn
jupyter
nbformat
ragas
datasets
pytest
langchain-ollama
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
fastapi
uvicorn

mlflow
dagshub
protobuf>=5.0.0