requests
beautifulsoup4
pandas
openpyxl
python-dotenv
langchain-core
langchain-google-genai
langgraph
pydantic
matplotlib
seaborn
jupyter
nbformat
ragas
datasets
pytest
langchain-ollama
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
fastapi
uvicorn
supabase
mlflow
dagshub
langchain-postgres